<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--初始化active使用的连接工厂-->
    <bean id="mQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <constructor-arg name="brokerURL" value="tcp://192.168.188.128:61616"></constructor-arg>
    </bean>
    <!--spring管理的连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="mQConnectionFactory"></property>
    </bean>
    <!--初始化一个发送的队列-->
    <bean id="email_code_queue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="email_code_queue"></constructor-arg>
    </bean>


    <!--发送消息和消费消息的模板对象-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"></property>
    </bean>
</beans>