<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--当前的servie业务模块注册到zookeeper 自身的端口是20881-->
    <dubbo:protocol name="dubbo" port="20884"></dubbo:protocol>
    <dubbo:application name="cinema_client_service"/>
    <dubbo:registry address="zookeeper://192.168.188.128:2181"/>
    <dubbo:annotation package="cn.edu.aynu.rjxy.client.service.impl" />
</beans>